#tsparticles {
    pointer-events: none;
    height: 100% !important;
    position: fixed !important;
    z-index: 0 !important;
    top: 0px !important;
    width: 100% !important;
    left: 0px !important;
    background: linear-gradient(180deg, #0a1628 0%, #0f2744 100%);
}
