/* Home Styles */
.home-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 8%;
}

.main-content {
    height: 100vh;
}

/* Media Queries */
/* Mobile */
@media screen and (min-width: 330px) and (max-width: 369px) {
    .greetings h1 {
        margin-top: 20vh;
        font-size: 8vw;
    }

    .secondary-title {
        padding-top: 20%;
        padding-bottom: 4%;
        font-size: 2rem;
        margin-bottom: 0;
        left: default;
    }

    .Typewriter {
        font-size: 1.5rem;
    }

    .descriptions-container {
        margin-top: 15%;
        font-size: 1rem;
    }

    .descriptions-container b {
        text-decoration: underline;
    }

    .arrow-down {
        margin-top: 20%;
        font-size: 2.5rem;
        color: #f1f1f1;
        cursor: pointer;
    }

    .arrow-down p {
        margin-top: 0;
        font-size: 1rem;
    }
}

@media screen and (min-width: 370px) and (max-width: 399px) {
    .greetings h1 {
        margin-top: 20vh;
        font-size: 8vw;
    }

    .secondary-title {
        padding-top: 20%;
        padding-bottom: 4%;
        font-size: 2rem;
        margin-bottom: 0;
        left: default;
    }

    .Typewriter {
        font-size: 1.5rem;
    }

    .descriptions-container {
        margin-top: 15%;
        font-size: 1rem;
    }

    .descriptions-container b {
        text-decoration: underline;
    }

    .arrow-down {
        margin-top: 30%;
        font-size: 2.5rem;
        color: #f1f1f1;
        cursor: pointer;
    }

    .arrow-down p {
        margin-top: 0;
        font-size: 1rem;
    }
}

@media screen and (min-width: 400px) and (max-width: 574px){
    .greetings h1 {
        margin-top: 20vh;
        font-size: 8vw;
    }

    .secondary-title {
        padding-top: 20%;
        padding-bottom: 4%;
        font-size: 2.4rem;
        margin-bottom: 0;
        left: default;
    }

    .Typewriter {
        font-size: 1.5rem;
    }

    .descriptions-container {
        margin-top: 25%;
        font-size: 1.3rem;
    }

    .descriptions-container b {
        text-decoration: underline;
    }

    .arrow-down {
        margin-top: 30%;
        font-size: 3rem;
        color: #f1f1f1;
        cursor: pointer;
    }

    .arrow-down p {
        margin-top: 0;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 575px) and (max-width: 749px) {
    .greetings h1 {
        margin-top: 20vh;
        font-size: 8vw;
    }

    .secondary-title {
        padding-top: 20%;
        padding-bottom: 4%;
        font-size: 3.5rem;
        margin-bottom: 0;
        left: default;
    }

    .Typewriter {
        font-size: 1.5rem;
    }

    .descriptions-container {
        margin-top: 15%;
        font-size: 1.3rem;
    }

    .descriptions-container b {
        text-decoration: underline;
    }

    .arrow-down {
        margin-top: 40%;
        font-size: 3rem;
        color: #f1f1f1;
        cursor: pointer;
    }

    .arrow-down p {
        margin-top: 0;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 750px) and (max-width: 869px) {
    .greetings h1 {
        margin-top: 20vh;
        font-size: 8vw;
    }

    .secondary-title {
        padding-top: 20%;
        padding-bottom: 4%;
        font-size: 3.5rem;
        margin-bottom: 0;
        left: default;
    }

    .Typewriter {
        font-size: 1.5rem;
    }

    .descriptions-container {
        margin-top: 15%;
        font-size: 1.3rem;
    }

    .descriptions-container b {
        text-decoration: underline;
    }

    .arrow-down {
        margin-top: 30%;
        font-size: 3rem;
        color: #f1f1f1;
        cursor: pointer;
    }

    .arrow-down p {
        margin-top: 0;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 870px) and (max-width: 909px) {
    .greetings h1 {
        margin-top: 20vh;
        font-size: 8vw;
    }

    .secondary-title {
        padding-top: 20%;
        padding-bottom: 4%;
        font-size: 5rem;
        margin-bottom: 0;
        left: default;
    }

    .Typewriter {
        font-size: 2.5rem;
    }

    .descriptions-container {
        margin-top: 10%;
        font-size: 1.3rem;
    }

    .descriptions-container b {
        text-decoration: underline;
    }

    .arrow-down {
        margin-top: 15%;
        font-size: 3rem;
        color: #f1f1f1;
        cursor: pointer;
    }

    .arrow-down p {
        margin-top: 0;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 910px) and (max-width: 1023px) {
    .greetings h1 {
        margin-top: 20vh;
        font-size: 8vw;
    }

    .secondary-title {
        padding-top: 20%;
        padding-bottom: 4%;
        font-size: 5.3rem;
        margin-bottom: 0;
        left: default;
    }

    .Typewriter {
        font-size: 3rem;
    }

    .descriptions-container {
        margin-top: 10%;
        font-size: 1.5rem;
    }

    .descriptions-container b {
        text-decoration: underline;
    }

    .arrow-down {
        margin-top: 30%;
        font-size: 4rem;
        color: #f1f1f1;
        cursor: pointer;
    }

    .arrow-down p {
        margin-top: 0;
        font-size: 1.5rem;
    }
}

/* Desktops */
@media only screen and (min-width: 1024px) and (max-width: 1119px) {
    .greetings h1 {
        margin-top: 15vh;
        font-size: 5vw;
    }

    .secondary-title {
        padding-top: 6%;
        padding-bottom: 4%;
        font-size: 5rem;
        margin-bottom: 0;
        left: default;
    }

    .Typewriter {
        font-size: 2.2rem;
    }

    .descriptions-container {
        margin-top: 13%;
        font-size: 1.2rem;
    }

    .descriptions-container b {
        text-decoration: underline;
    }

    .arrow-down {
        margin-top: 10%;
        font-size: 3.5rem;
        color: #f1f1f1;
        cursor: pointer;
    }

    .arrow-down p {
        margin-top: 0;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1120px) and (max-width: 1199px) {
    .greetings h1 {
        margin-top: 15vh;
        font-size: 5vw;
    }

    .secondary-title {
        padding-top: 6%;
        padding-bottom: 4%;
        font-size: 6rem;
        margin-bottom: 0;
        left: default;
    }

    .Typewriter {
        font-size: 2.5rem;
    }

    .descriptions-container {
        margin-top: 13%;
        font-size: 1.5rem;
    }

    .descriptions-container b {
        text-decoration: underline;
    }

    .arrow-down {
        margin-top: 10%;
        font-size: 3.5rem;
        color: #f1f1f1;
        cursor: pointer;
    }

    .arrow-down p {
        margin-top: 0;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
    .greetings h1 {
        margin-top: 15vh;
        font-size: 5vw;
    }

    .secondary-title {
        padding-top: 6%;
        padding-bottom: 4%;
        font-size: 6rem;
        margin-bottom: 0;
        left: default;
    }

    .Typewriter {
        font-size: 2.5rem;
    }

    .descriptions-container {
        margin-top: 8%;
        font-size: 1.5rem;
    }

    .descriptions-container b {
        text-decoration: underline;
    }

    .arrow-down {
        margin-top: 13%;
        font-size: 3.5rem;
        color: #f1f1f1;
        cursor: pointer;
    }

    .arrow-down p {
        margin-top: 0;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1599px) {
    .greetings h1 {
        margin-top: 15vh;
        font-size: 5vw;
    }

    .secondary-title {
        padding-top: 6%;
        padding-bottom: 4%;
        font-size: 6rem;
        margin-bottom: 0;
        left: default;
    }

    .Typewriter {
        font-size: 2.5rem;
    }

    .descriptions-container {
        margin-top: 8%;
        font-size: 2rem;
    }

    .descriptions-container b {
        text-decoration: underline;
    }

    .arrow-down {
        margin-top: 6%;
        font-size: 3.5rem;
        color: #f1f1f1;
        cursor: pointer;
    }

    .arrow-down p {
        margin-top: 0;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1600px) {
    .greetings h1 {
        margin-top: 15vh;
        font-size: 5vw;
    }

    .secondary-title {
        padding-top: 6%;
        padding-bottom: 4%;
        font-size: 6rem;
        margin-bottom: 0;
        left: default;
    }

    .Typewriter {
        font-size: 2.5rem;
    }

    .descriptions-container {
        margin-top: 8%;
        font-size: 2rem;
    }

    .descriptions-container b {
        text-decoration: underline;
    }

    .arrow-down {
        margin-top: 10%;
        font-size: 3.5rem;
        color: #f1f1f1;
        cursor: pointer;
    }

    .arrow-down p {
        margin-top: 0;
        font-size: 1.5rem;
    }
}
