html {
    scroll-snap-type: y mandatory;
  }

/* Media Queries */
/* Mobile */
@media screen and (min-width: 330px) and (max-width: 369px) {
    .secondary-title {
        padding-top: 20%;
        padding-bottom: 4%;
        font-size: 2rem;
        margin-bottom: 0;
        left: default;
    }

    h2 {
        margin: 0;
        color: var(--accent);
        left: 93%;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.2;
        position: absolute;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    section {
        margin-bottom: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    section > div {
        width: 75vw;
        height: 65vh;
        position: relative;
        background: var(--white);
        overflow: hidden;
        background-color: rgb(115, 115, 115);
        border-radius: 1rem;
    }

    .project-description {
        font-size: 1.2rem;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .project-footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 5.5vh;
        width: 100%;
        padding-top: 1vh;
        border-top: 0.1rem solid rgb(179, 179, 179, 0.8);
    }

    .project-date {
        margin: 2%;
        font-size: 0.5rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-technologies {
        margin: 2%;
        font-size: 0.5rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-image img {
        height: 45vw;
        margin-top: 1.3vh;
        margin-bottom: 1vh;
        object-fit: contain;
        border-radius: 1rem;
    }

    .project-link a {
        display: block;
        font-size: 1rem;
        margin: 4%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2%;
        width: 86%;
        color: white;
        background-color: rgba(43, 43, 43, 1);
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        text-decoration: none;
        transition: 0.5s;
    }

    .project-link a:hover {
        background-color: rgba(43, 43, 43, 0.7);
    }
}

@media screen and (min-width: 370px) and (max-width: 399px) {
    .secondary-title {
        padding-top: 20%;
        padding-bottom: 4%;
        font-size: 2rem;
        margin-bottom: 0;
        left: default;
    }

    h2 {
        margin: 0;
        color: var(--accent);
        left: 93%;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.2;
        position: absolute;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    section {
        margin-bottom: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    section > div {
        width: 75vw;
        height: 65vh;
        position: relative;
        background: var(--white);
        overflow: hidden;
        background-color: rgb(115, 115, 115);
        border-radius: 1rem;
    }

    .project-description {
        font-size: 1.1rem;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .project-footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 6vh;
        width: 100%;
        padding-top: 1vh;
        border-top: 0.1rem solid rgb(179, 179, 179, 0.8);
    }

    .project-date {
        margin: 2%;
        font-size: 0.6rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-technologies {
        margin: 2%;
        font-size: 0.6rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-image img {
        height: 45vw;
        margin-top: 1.3vh;
        margin-bottom: 1vh;
        object-fit: contain;
        border-radius: 1rem;
    }

    .project-link a {
        display: block;
        font-size: 1rem;
        margin: 4%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2%;
        width: 86%;
        color: white;
        background-color: rgba(43, 43, 43, 1);
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        text-decoration: none;
        transition: 0.5s;
    }

    .project-link a:hover {
        background-color: rgba(43, 43, 43, 0.7);
    }
}

@media screen and (min-width: 400px) and (max-width: 574px) {
    .secondary-title {
        padding-top: 20%;
        padding-bottom: 4%;
        font-size: 2.4rem;
        margin-bottom: 0;
        left: default;
    }

    h2 {
        margin: 0;
        color: var(--accent);
        left: 93%;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.2;
        position: absolute;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    section {
        margin-bottom: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    section > div {
        width: 75vw;
        height: 65vh;
        position: relative;
        background: var(--white);
        overflow: hidden;
        background-color: rgb(115, 115, 115);
        border-radius: 1rem;
    }

    .project-description {
        font-size: 1.3rem;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .project-footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 6vh;
        width: 100%;
        padding-top: 1vh;
        border-top: 0.1rem solid rgb(179, 179, 179, 0.8);
    }

    .project-date {
        margin: 2%;
        font-size: 0.7rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-technologies {
        margin: 2%;
        font-size: 0.7rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-image img {
        height: 45vw;
        margin-top: 1.3vh;
        margin-bottom: 1vh;
        object-fit: contain;
        border-radius: 1rem;
    }

    .project-link a {
        display: block;
        font-size: 1rem;
        margin: 4%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2%;
        width: 86%;
        color: white;
        background-color: rgba(43, 43, 43, 1);
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        text-decoration: none;
        transition: 0.5s;
    }

    .project-link a:hover {
        background-color: rgba(43, 43, 43, 0.7);
    }
}

@media screen and (min-width: 575px) and (max-width: 749px){
    .secondary-title {
        padding-top: 20%;
        padding-bottom: 4%;
        font-size: 3.5rem;
        margin-bottom: 0;
        left: default;
    }

    h2 {
        margin: 0;
        color: var(--accent);
        left: 93%;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.2;
        position: absolute;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    section {
        margin-bottom: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    section > div {
        width: 75vw;
        height: 65vh;
        position: relative;
        background: var(--white);
        overflow: hidden;
        background-color: rgb(115, 115, 115);
        border-radius: 1rem;
    }

    .project-description {
        font-size: 1.1rem;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .project-footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 7vh;
        width: 100%;
        padding-top: 1vh;
        border-top: 0.1rem solid rgb(179, 179, 179, 0.8);
    }

    .project-date {
        margin: 2%;
        font-size: 0.5rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-technologies {
        margin: 2%;
        font-size: 0.5rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-image img {
        height: 45vw;
        margin-top: 1.3vh;
        margin-bottom: 1vh;
        object-fit: contain;
        border-radius: 1rem;
    }

    .project-link a {
        display: block;
        font-size: 1rem;
        margin: 4%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2%;
        width: 86%;
        color: white;
        background-color: rgba(43, 43, 43, 1);
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        text-decoration: none;
        transition: 0.5s;
    }

    .project-link a:hover {
        background-color: rgba(43, 43, 43, 0.7);
    }
}

@media screen and (min-width: 750px) and (max-width: 869px) {
    .secondary-title {
        padding-top: 20%;
        padding-bottom: 4%;
        font-size: 3.5rem;
        margin-bottom: 0;
        left: default;
    }

    h2 {
        margin: 0;
        color: var(--accent);
        left: 93%;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.2;
        position: absolute;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    section {
        margin-bottom: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    section > div {
        width: 75vw;
        height: 65vh;
        position: relative;
        background: var(--white);
        overflow: hidden;
        background-color: rgb(115, 115, 115);
        border-radius: 1rem;
    }

    .project-description {
        font-size: 1.4rem;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .project-footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 6vh;
        width: 100%;
        padding-top: 1vh;
        border-top: 0.1rem solid rgb(179, 179, 179, 0.8);
    }

    .project-date {
        margin: 2%;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-technologies {
        margin: 2%;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-image img {
        height: 45vw;
        margin-top: 1.3vh;
        margin-bottom: 1vh;
        object-fit: contain;
        border-radius: 1rem;
    }

    .project-link a {
        display: block;
        font-size: 1.2rem;
        margin: 4%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2%;
        width: 86%;
        color: white;
        background-color: rgba(43, 43, 43, 1);
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        text-decoration: none;
        transition: 0.5s;
    }

    .project-link a:hover {
        background-color: rgba(43, 43, 43, 0.7);
    }
}

@media screen and (min-width: 870px) and (max-width: 909px) {
    .secondary-title {
        padding-top: 20%;
        padding-bottom: 4%;
        font-size: 5rem;
        margin-bottom: 0;
        left: default;
    }

    h2 {
        margin: 0;
        color: var(--accent);
        left: 90%;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
        position: absolute;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    section {
        margin-bottom: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    section > div {
        width: 75vw;
        height: 65vh;
        position: relative;
        background: var(--white);
        overflow: hidden;
        background-color: rgb(115, 115, 115);
        border-radius: 1rem;
    }

    .project-description {
        font-size: 1.1rem;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .project-footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 7vh;
        width: 100%;
        padding-top: 1vh;
        border-top: 0.1rem solid rgb(179, 179, 179, 0.8);
    }

    .project-date {
        margin: 2%;
        font-size: 0.5rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-technologies {
        margin: 2%;
        font-size: 0.5rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-image img {
        height: 45vw;
        margin-top: 1.3vh;
        margin-bottom: 1vh;
        object-fit: contain;
        border-radius: 1rem;
    }

    .project-link a {
        display: block;
        font-size: 1rem;
        margin: 4%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2%;
        width: 86%;
        color: white;
        background-color: rgba(43, 43, 43, 1);
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        text-decoration: none;
        transition: 0.5s;
    }

    .project-link a:hover {
        background-color: rgba(43, 43, 43, 0.7);
    }
}

@media screen and (min-width: 910px) and (max-width: 1023px) {
    .secondary-title {
        padding-top: 20%;
        padding-bottom: 4%;
        font-size: 5.3rem;
        margin-bottom: 0;
        left: default;
    }

    h2 {
        margin: 0;
        color: var(--accent);
        left: 94%;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2;
        position: absolute;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    section {
        margin-bottom: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    section > div {
        width: 75vw;
        height: 65vh;
        position: relative;
        background: var(--white);
        overflow: hidden;
        background-color: rgb(115, 115, 115);
        border-radius: 1rem;
    }

    .project-description {
        font-size: 2rem;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .project-footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 7vh;
        width: 100%;
        padding-top: 1vh;
        border-top: 0.1rem solid rgb(179, 179, 179, 0.8);
    }

    .project-date {
        margin: 2%;
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-technologies {
        margin: 2%;
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-image img {
        height: 45vw;
        margin-top: 1.3vh;
        margin-bottom: 1vh;
        object-fit: contain;
        border-radius: 1rem;
    }

    .project-link a {
        display: block;
        font-size: 1.7rem;
        margin: 4%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2%;
        width: 86%;
        color: white;
        background-color: rgba(43, 43, 43, 1);
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        text-decoration: none;
        transition: 0.5s;
    }

    .project-link a:hover {
        background-color: rgba(43, 43, 43, 0.7);
    }
}

/* Desktops */
@media only screen and (min-width: 1024px) and (max-width: 1119px) {
    .secondary-title {
        padding-top: 6%;
        padding-bottom: 4%;
        font-size: 5rem;
        margin-bottom: 0;
        left: default;
    }

    h2 {
        margin: 0;
        color: var(--accent);
        left: 71%;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;
        position: absolute;
    }

    section {
        margin-bottom: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    section > div {
        width: 35vw;
        height: 70vh;
        position: relative;
        max-height: 90vh;
        background: var(--white);
        overflow: hidden;
        background-color: rgb(115, 115, 115);
        border-radius: 1rem;
    }

    .project-description {
        font-size: 1.4rem;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .project-footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 6vh;
        width: 100%;
        padding-top: 1%;
        border-top: 0.1rem solid rgb(179, 179, 179, 0.8);
    }

    .project-date {
        margin: 2%;
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-technologies {
        margin: 2%;
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-image img {
        height: 21vw;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        object-fit: contain;
        border-radius: 1rem;
    }

    .project-link a {
        display: block;
        font-size: 1.1rem;
        margin: 2%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2%;
        width: 86%;
        color: white;
        background-color: rgba(43, 43, 43, 1);
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        text-decoration: none;
        transition: 0.5s;
    }

    .project-link a:hover {
        background-color: rgba(43, 43, 43, 0.7);
    }
}

@media only screen and (min-width: 1120px) and (max-width: 1199px) {
    .secondary-title {
        padding-top: 6%;
        padding-bottom: 4%;
        font-size: 6rem;
        margin-bottom: 0;
        left: default;
    }

    h2 {
        margin: 0;
        color: var(--accent);
        left: 71%;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;
        position: absolute;
    }

    section {
        margin-bottom: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    section > div {
        width: 35vw;
        height: 70vh;
        position: relative;
        max-height: 90vh;
        background: var(--white);
        overflow: hidden;
        background-color: rgb(115, 115, 115);
        border-radius: 1rem;
    }

    .project-description {
        font-size: 1.3rem;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .project-footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 6vh;
        width: 100%;
        padding-top: 1%;
        border-top: 0.1rem solid rgb(179, 179, 179, 0.8);
    }

    .project-date {
        margin: 2%;
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-technologies {
        margin: 2%;
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-image img {
        height: 21vw;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        object-fit: contain;
        border-radius: 1rem;
    }

    .project-link a {
        display: block;
        font-size: 1.1rem;
        margin: 2%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2%;
        width: 86%;
        color: white;
        background-color: rgba(43, 43, 43, 1);
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        text-decoration: none;
        transition: 0.5s;
    }

    .project-link a:hover {
        background-color: rgba(43, 43, 43, 0.7);
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
    .secondary-title {
        padding-top: 6%;
        padding-bottom: 4%;
        font-size: 6rem;
        margin-bottom: 0;
        left: default;
    }

    h2 {
        margin: 0;
        color: var(--accent);
        left: 71%;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;
        position: absolute;
    }

    section {
        margin-bottom: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    section > div {
        width: 35vw;
        height: 70vh;
        position: relative;
        max-height: 90vh;
        background: var(--white);
        overflow: hidden;
        background-color: rgb(115, 115, 115);
        border-radius: 1rem;
    }

    .project-description {
        font-size: 1.5rem;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .project-footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 6vh;
        width: 100%;
        padding-top: 1%;
        border-top: 0.1rem solid rgb(179, 179, 179, 0.8);
    }

    .project-date {
        margin: 2%;
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-technologies {
        margin: 2%;
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-image img {
        height: 21vw;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        object-fit: contain;
        border-radius: 1rem;
    }

    .project-link a {
        display: block;
        font-size: 1.2rem;
        margin: 2%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2%;
        width: 86%;
        color: white;
        background-color: rgba(43, 43, 43, 1);
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        text-decoration: none;
        transition: 0.5s;
    }

    .project-link a:hover {
        background-color: rgba(43, 43, 43, 0.7);
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1599px) {
    .secondary-title {
        padding-top: 6%;
        padding-bottom: 4%;
        font-size: 6rem;
        margin-bottom: 0;
        left: default;
    }

    h2 {
        margin: 0;
        color: var(--accent);
        left: 71%;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;
        position: absolute;
    }

    section {
        margin-bottom: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    section > div {
        width: 35vw;
        height: 70vh;
        position: relative;
        max-height: 90vh;
        background: var(--white);
        overflow: hidden;
        background-color: rgb(115, 115, 115);
        border-radius: 1rem;
    }

    .project-description {
        font-size: 1.5rem;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .project-footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 6vh;
        width: 100%;
        padding-top: 1%;
        border-top: 0.1rem solid rgb(179, 179, 179, 0.8);
    }

    .project-date {
        margin: 2%;
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-technologies {
        margin: 2%;
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-image img {
        height: 21vw;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        object-fit: contain;
        border-radius: 1rem;
    }

    .project-link a {
        display: block;
        font-size: 1.2rem;
        margin: 2%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2%;
        width: 86%;
        color: white;
        background-color: rgba(43, 43, 43, 1);
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        text-decoration: none;
        transition: 0.5s;
    }

    .project-link a:hover {
        background-color: rgba(43, 43, 43, 0.7);
    }
}


@media only screen and (min-width: 1600px) {
    .secondary-title {
        padding-top: 6%;
        padding-bottom: 4%;
        font-size: 6rem;
        margin-bottom: 0;
        left: default;
    }

    h2 {
        margin: 0;
        color: var(--accent);
        left: 71%;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;
        position: absolute;
    }

    section {
        margin-bottom: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    section > div {
        width: 35vw;
        height: 70vh;
        position: relative;
        max-height: 90vh;
        background: var(--white);
        overflow: hidden;
        background-color: rgb(115, 115, 115);
        border-radius: 1rem;
    }

    .project-description {
        font-size: 1.5rem;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .project-footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 6vh;
        width: 100%;
        padding-top: 1%;
        border-top: 0.1rem solid rgb(179, 179, 179, 0.8);
    }

    .project-date {
        margin: 2%;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-technologies {
        margin: 2%;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .project-image img {
        height: 22vw;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        object-fit: contain;
        border-radius: 1rem;
    }

    .project-link a {
        display: block;
        font-size: 1.3rem;
        margin: 2%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2%;
        width: 86%;
        color: white;
        background-color: rgba(43, 43, 43, 1);
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        text-decoration: none;
        transition: 0.5s;
    }

    .project-link a:hover {
        background-color: rgba(43, 43, 43, 0.7);
    }
}
